.dark-btn {
  padding: 8px 16px;
  margin: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.dark-mode {
  background-color: #121212;
  color: #fff;
}
