.table-container {
  margin-top: 30px;
  text-align: center;
}
.table-container h2 {
  margin-bottom: 10px;
  font-size: 24px;
}
table {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
}
